

/*Main Colors:*/
/*- Primary Color: #007bff*/
/*- Secondary Color: #6c757d*/
/*- Background Color: #f8f9fa*/

/*  Style Preferences:*/
/*- Font Family: 'Roboto', sans-serif*/
/*- Font Size: 16px*/
/*- Spacing: 8px*/

/*            Responsive Design:*/
/*- Breakpoints:*/
/*- Phone: 480px*/
/*- Tablet: 768px*/
/*- Laptop: 1024px*/
/*- Flexbox/Grid: Flexbox*/

/*          Component Specifics:*/
/*- Button Styles: Rounded corners, 10px padding, color transition on hover*/
/*- Typography: Line height: 1.5, Font weight: 400 (regular)*/



*{
    padding:0;
    margin:0;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}








