/* Base styles for the main container */
.main-container {
    display: flex;
    flex-direction: row;
    flex: 90%;
    overflow-y: auto;
}

/* Styles for the navbar */
.navbar {
    display: flex;
    flex: 10%;
}

/* Styles for the left container */
.main-container-left {
    display: flex;
    flex-direction: column;
    flex: 20%;

}


/* Styles for the middle container */
.main-container-middle {
    display: flex;
    flex-direction: column;
    flex: 50%;
}


/* Styles for the right container */
.main-container-right {
    display: flex;
    flex-direction: column;
    flex: 30%;
}


/* Styles for the searchbar container */
.main-container-left-searchbar {
    display: flex;
    flex: 10%;
}

/* Styles for the list container */
.main-container-left-list {
    display: flex;
    flex: 90%;
    overflow-y: auto;
}

/* Ensure scrollbar is always visible */
.main-container-left-list::-webkit-scrollbar {
    width: 8px;
}

/* Handle scrollbar track */
.main-container-left-list::-webkit-scrollbar-track {
    background: #f8f9fa;
}

/* Handle scrollbar thumb */
.main-container-left-list::-webkit-scrollbar-thumb {
    background: #6c757d;
    border-radius: 4px;
}

/* Handle scrollbar on hover */
.main-container-left-list::-webkit-scrollbar-thumb:hover {
    background: #555;
}



/* Ensure scrollbar is always visible */
.main-container-middle-chat::-webkit-scrollbar {
    width: 8px;
}

/* Handle scrollbar track */
.main-container-middle-chat::-webkit-scrollbar-track {
    background: #f8f9fa;
}

/* Handle scrollbar thumb */
.main-container-middle-chat::-webkit-scrollbar-thumb {
    background: #6c757d;
    border-radius: 4px;
}

/* Handle scrollbar on hover */
.main-container-middle-chat ::-webkit-scrollbar-thumb:hover {
    background: #555;
}



/* Styles for the topbar container */
.main-container-middle-topbar {
    display: flex;
    flex: 20%;
}

/* Styles for the chat container */
.main-container-middle-chat {
    display: flex;
    overflow-y: auto;
    margin-bottom: 8px;
    padding-top: 8px;
    flex: 60%;
}

/* Styles for the chat's input box */
.main-container-middle-input-field {
    display: flex;
    flex: 20%;

}



/* Styles for the image and name container */
.main-container-right-imageandname {

}

/* Styles for the list members container */
.main-container-right-listmembers {

}

/* Media query for tablet screens */
@media (max-width: 768px) {

}

/* Media query for phone screens */
@media (max-width: 480px) {

}
